{% extends "user.html" %}
{% load custom_filters %}
{% block title %} Course Modules {% endblock %}

{% block main %}
<div class="container">
    <div class="card">
        <div class="card-header">
            {{ course }} - QUIZZES
        </div>
        <div class="card-body">
            <br>
            {% for module in modules %}
            <div class="accordian-{{module.id}}">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                {{ module.name }}
                            </div>
                            <div class="col-md-2">
                                <a href="/exam/start/{{module.id}}/1/1/" class="btn btn-success">
                                    Start
                                </a>
                            </div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}
