{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Contact Us {% endblock %}

{% block content %}
    <h1>Contact LetsPrepare </h1>
    <h2>We are here to provide you more information, answer any questions you may have and help you with any problems you may have while using LetsPrepare.</h2>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}
